<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{>header}}
    <br />
    <br />
    <div class="ui segment">
        <div class="ui container">
            <h1>{{title}}</h1>
            <h2 class="ui right floated header">Description</h2>
            <div class="ui clearing divider"></div>
            <p>
            <ul class="ui list">
                <li>
                    <h3>the weather app use API from <a href="https://www.mapbox.com">MapBox</a> and
                        <a href="https://weatherstack.com">Weather Stack</a></h3>
                </li>
                <li>
                    <h3>How to cycle method ??</h3>
                </li>
                <li>
                    <h3>
                        first,. we take information about location from mapbox.. so mapbox can find the location and
                        show the information </h3>
                </li>
                <li>
                    <h3>
                        second,. from information obtained from the mapbox, we made some function to retrive the
                        information.</h3>
                </li>
                <li>
                    <h3> third, and send information about location (name of location, Longitude and Latitude so on..)
                        and
                        then
                        bring the information to weather stack to get the weather data for the location.</h3>
                </li>
                <li>
                    <h3>fourth, the weather stack can show u.. information about the weather on location that has been
                        taken
                        from
                        mapbox.</h3>
                </li>
            </ul>
            </p>
        </div>

    </div>
    {{>footer}}
</body>

</html>