<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{>header}}
    <br />
    <br />
    <div class="ui segment">
        <div class="ui container">
            <h1>{{title}}</h1>
            <h3>Created By {{name}}</h3>
        </div>
    </div>
    {{>footer}}
</body>

</html>